.cartItems img {
  width: 170px;
  height: 220px;
}

.cartItems {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  width: 100%;
  box-sizing: border-box;
}

.cartItems .details button {
  margin: 20px 0px 20px 0px;
  cursor: pointer;
}

#quantity {
  margin: 0px 10px 0px 10px;
}
