.home {
  height: calc(100vh - 100px);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home {
    height: calc(100vh - 140px);
  }
}

.homeContent {
  width: 80%;
  margin: auto;
  height: 100%;
  /* padding-top: 50px; */
  padding-bottom: 20px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.homeText {
  width: 40%;
  padding: 10px 0px 10px 15px;
  background-color: rgba(227, 226, 226, 0.6);
  border-radius: 15px;
  float: right;
  /* border: solid 1px #2e596a; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .homeText {
    width: 100%;
  }

  .homeContent {
    background-size: cover;
    background-position: center;
  }
}

.homeText span {
  font-size: 1.5rem;
}

.homeText p {
  font-size: 2rem;
  margin: 0;
}

.homeText button {
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}
